body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

#container {
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    max-width: 1440px;
    width: 650px;
    max-height: 100vh;
    height: 250px;
    margin: auto;
    grid-template-columns: 1fr 1.75fr;
    grid-template-rows: 100%;
    grid-template-areas: "image text";
}

#image {
    grid-area: image;
}

#drawers {
    object-fit: cover;
    width: 125%;
    height: 100%;
    object-position: left;
}

#text {
    background: #ffffff;
    padding: 15px 30px 25px 25px;
    grid-area: text;
    display: grid;
    align-items: center;
    grid-template-columns: 0.25fr 1.5fr 0.25fr;
    grid-template-rows: 40% 40% 10% 10%;
    grid-template-areas: "heading heading heading" "description description description" "avatar name share" "avatar date share";
}

#heading {
    grid-area: heading;
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(217, 19%, 35%);
}

#description {
    grid-area: description;
    color: hsl(214, 17%, 51%);
    padding-bottom: 15px;
}

#avatar {
    grid-area: avatar;
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
}

#share {
    grid-area: share;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    background: hsl(210, 46%, 95%);
    border-radius: 50%;
}

#share-btn {
    border: none;
    background: none;
}

#share-btn:focus,
 :active {
    outline: none;
}

#share-btn:hover {
    cursor: pointer;
}

#arrow {
    width: 100%;
    object-fit: contain;
}

#name {
    grid-area: name;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    padding-left: 10px;
}

#date {
    grid-area: date;
    color: hsl(214, 17%, 51%);
    padding-left: 10px;
}

#pop-up {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    width: 225px;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    bottom: 45%;
    grid-area: popup;
}

#share-text {
    display: inline-block;
    padding: 0 10px 0 5px;
    color: hsl(212, 23%, 69%);
    font-weight: 500;
    letter-spacing: 0.35em;
}

#fb-img,
#twitter-img,
#pinterest-img {
    padding: 0 5px 0 5px;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid;
    color: hsl(217, 19%, 35%);
    position: absolute;
    top: 40px;
}

a {
    display: flex;
}


/* @media only screen and (max-width:426px) {
    #container {
        display: grid;
        height: 80vh;
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 20% 25% 15%;
        grid-template-areas: "image" "heading" "description" "pop-up";
    }
    #drawers {}

    #pop-up {
        display: flex;
    }
} */